body {
    background-color: #080808;
    color: #f8f8f8;
    font-family: monospace;
    font-size: 24px;
    overflow: hidden;
}

#content {
    column-width: 12em;
    height: 101vh;
    overflow-x: scroll;
}

td {
    text-align: right;
}
td:first-child {
    padding-right: 1em;
}


@media print {
    body {
        background-color: white;
        color: black;
        font-family: monospace;
        font-size: 12px;
        overflow: auto;
    }
    #content {
        column-count: 4;
        height: auto;
        overflow: auto;
    }
}
