body {
    font-family: monospace;
    font-size: 12px
}

td {
    text-align: right;
}
td:first-child {
    padding-right: 1em;
}

#content {
    column-width: 12em;
    height: 98vh;
}

@media print {
    #content {
        column-count: 4;
        height: auto;
    }
}
