body {
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;
}

td {
    text-align: right;
}
td:first-child {
    padding-right: 1em;
}

#content {
    column-width: 12em;
    height: 101vh;
    overflow-x: scroll;
}

@media print {
    #content {
        column-count: 4;
        height: auto;
        overflow: auto;
    }
}
